{
    "env": {
        "browser": false,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "globals": {
        "_": true,
        "$": true,
        "after": true,
        "afterEach": true,
        "angular": true,
        "before": true,
        "beforeEach": true,
        "chance": true,
        "describe": true,
        "document": true,
        "expect": true,
        "it": true,
        "localStorage": true,
        "moment": true,
        "qs": true,
        "request": true,
        "URI": true,
        "window": true,
        "navigator": true,
        "Zombie": true
    },
    "rules": {
        "curly": [2,"all"],
        "no-console": 2,
        "no-alert": 2,
        "eqeqeq": [2,"allow-null"],
        "indent": [2,4],
        "new-cap": 2,
        "no-caller": 2,
        "no-empty": 2,
        "no-undef": "error",
        "no-unused-vars": ["error", { "vars": "local", "args": "none" }],
        "no-eq-null": "error",
        "comma-dangle": [1, "never"],
        "quotes": [2, "double"],
        "no-cond-assign": [2, "always"],
        "no-constant-condition": 1,
        "no-debugger": 1,
        "no-dupe-args": 1,
        "no-dupe-keys": 1,
        "no-duplicate-case": 1,
        "no-ex-assign": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 2,
        "no-extra-semi": 1,
        "no-func-assign": 1,
        "no-inner-declarations": 1,
        "no-invalid-regexp": 1,
        "no-irregular-whitespace": 1,
        "no-negated-in-lhs": 1,
        "no-obj-calls": 1,
        "no-regex-spaces": 1,
        "no-sparse-arrays": 1,
        "no-unreachable": 1,
        "use-isnan": 1,
        "valid-typeof": 1,
        "default-case": 1,
        "dot-notation": 1,
        "guard-for-in": 1,
        "no-eval": 1,
        "no-extend-native": 1,
        "no-fallthrough": 1,
        "no-iterator": 1,
        "no-multi-spaces": 1,
        "no-loop-func": 1,
        "no-lone-blocks": 1,
        "no-native-reassign": 1,
        "no-self-compare": 1,
        "no-sequences": 1,
        "no-useless-call": 1,
        "no-void": 1,
        "wrap-iife": 1,
        "strict": 2,
        "camelcase": [0, {"properties": "always"}],
        "quote-props": [0, "as-needed"],
        "semi": [2, "always"],
        "no-unneeded-ternary": 1,
        //styling
        "space-in-parens": [2, "never"],
        "space-after-keywords": [0, "never"],
        "space-before-blocks": [0, "never"],
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "comma-spacing": [0, {"before": false, "after": true}],
        "comma-style": [0, "first"],
        "computed-property-spacing": [2, "never"],
        "key-spacing": [0, {"beforeColon": false, "afterColon": true}],
        "linebreak-style": 0,
        "no-multiple-empty-lines": [1, {"max": 1}],
        "no-spaced-func": 1
    }
}
